:root {
    --main-color: #040425;
    --secondary-color:#234e77;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: var(--secondary-color);
    font: Courier New, Lucinda Console, monospace;
}
header {
    padding: 20px 35px;
    background-color: var(--main-color);
    position: sticky;
}
header h1 {
    font-weight: bold;
    font-size: 40px;
    color: var(--secondary-color);
    margin: 0;
    display: inline;
}
header a {
    text-decoration: none;
    color: var(--secondary-color);
}
header nav {
    float: right;
    margin: 10px 0;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 20px;
    font-weight: lighter;
    font-size: 25px;
}
/*Hero Section*/
.hero {
    background-image: url("../images/slider_nebula.jpeg");
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.about-me {
    text-align: left;
}
.summary {
    text-align: right;
    float: right;
}
.contact-me {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: var(--secondary-color);
}